@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<h1>My Purchases</h1>

<body>
    <table>
        <tr>
            <td rowspan=3>Image</td>
            <td>Purchased On:</td>
        </tr>
        <tr>
            <td>Quantity:</td>
        </tr>
        <tr>
            <td>Activation Code:</td>
        </tr>
    </table>
</body>
